Django
Pillow
phonenumbers
python-dotenv
django-cors-headers
djangorestframework
django-phonenumber-field
djangorestframework-simplejwt
requests
gunicorn
razorpay
paytmchecksum
paytm-pg
pyotp
qrcode[pil]
--index-url https://phonepe.mycloudrepo.io/public/repositories/phonepe-pg-sdk-python
--extra-index-url https://pypi.org/simple
phonepe_sdk==1.1.0
