DEBUG=1
SECRET_KEY=dev-secret-key
ALLOWED_HOSTS=localhost,127.0.0.1
RECAPTCHA_SECRET_KEY=
TOTP_SECRET=abcd

FE_SITE=http://localhost:3000
BE_SITE=http://localhost:8000

JWT_ACCESS_TTL_DAYS=2
JWT_REFRESH_TTL_DAYS=15
