<div class="offcanvas offcanvas-end" tabindex="-1" id="cartCanvas" aria-labelledby="cartCanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title text-uppercase" id="cartCanvasLabel">Shopping Cart</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body pt-0 pe-4 pb-4 ps-4">
        <div id="cart-products"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const makeFunctionalble = (elem) => {
            elem.find('.cart-product-minus').on('click', function () {
                let input = $(this).parent().find('.cart-product-quantity');
                let quantity = parseInt(input.val());
                input.val(quantity - 1).trigger('input').trigger('change');
            });

            elem.find('.cart-product-plus').on('click', function () {
                let input = $(this).parent().find('.cart-product-quantity');
                let quantity = parseInt(input.val());
                input.val(quantity + 1).trigger('input').trigger('change');
            });

            elem.find('.cart-product-quantity').on('input', function () {
                let input = $(this).parent().find('.cart-product-quantity');
                let quantity = parseInt(input.val());

                if (quantity >= 1 && quantity <= 50) { }
                else if (quantity > 50) {
                    input.val(50);
                }
                else {
                    input.val(1);
                }
            }).on('change', function () {
                let input = $(this).parent().find('.cart-product-quantity');

                let productId = $(this).attr('data-bs-product');
                $.ajax({
                    url: `${BASE_API_URL}/cart/${productId}/`,
                    type: 'PATCH',
                    data: {
                        quantity: input.val()
                    },
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });

            elem.find('.cart-product-delete').on('click', function () {
                let productId = $(this).attr('data-bs-product');
                $.ajax({
                    url: `${BASE_API_URL}/cart/${productId}/`,
                    type: 'DELETE',
                    success: function (data) {
                        $('#cartCanvas').trigger('show.bs.offcanvas')
                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            });
        }

        $('#cartCanvas').on('show.bs.offcanvas', function (event) {
            $.ajax({
                url: `${BASE_API_URL}/cart/`,
                type: 'GET',
                success: function (data) {
                    $('#cart-products').empty();
                    if (data.products.length === 0) {
                        let elem = $('<p>');
                        elem.text("No Items in your Cart")
                        $('#cart-products').append(elem)
                        return
                    }
                    data.products.forEach(product => {
                        let productHtml = /* html */ `
                            <div class="row py-2 border-bottom cart-product">
                                <div class="col-5">
                                    <img src="${product.image.image_url}" alt="${product.image.name}" class="w-100 cart-product-image">
                                </div>
                                <div class="col-7">
                                    <h5 class="fw-semibold text-truncate mb-0">${product.product.product_name}</h5>
                                    <small class="text-black-50">${product.product.variant_name}</small>
                                    <p class="fs-6 m-1 fw-semibold">
                                        <span class="text-black-50 text-decoration-line-through">Rs. ${product.product.mrp.toLocaleString('en-IN')}</span>
                                        <span class="text-success ps-2">Rs. ${product.product.price.toLocaleString('en-IN')}</span>
                                    </p>
                                    <div class="d-flex">
                                        <div class="input-group mb-3" style="width: fit-content;">
                                            <button class="btn btn-primary rounded-start-circle cart-product-minus" type="button"
                                                style="width: 40px;" data-bs-product="${product.product_variant}">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                            <input type="number" class="form-control text-center cart-product-quantity" value="${product.quantity}"
                                                style="width: 60px;" data-bs-product="${product.product_variant}">
                                            <button class="btn btn-primary rounded-end-circle cart-product-plus" type="button"
                                                style="width: 40px;" data-bs-product="${product.product_variant}">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                        <button type="button" class="btn btn-outline-danger ms-2 mb-3 cart-product-delete"
                                            data-bs-product="${product.product_variant}">
                                            <i class="fa fa-trash"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>`;
                        let elem = $(productHtml);
                        makeFunctionalble(elem);
                        $('#cart-products').append(elem);
                    });
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }).on('hidden.bs.offcanvas', function (event) {
            $('#cart-products').empty();
        });
    });
</script>